<div class="container">
    <form method="post" action="/Home/SetYear">
        <h4>Please enter a camp year:</h4>
        <input name="year" type="text" class="form-control" placeholder=" EX: 2020 " />
        <button id="yearButton" class="btn btn-danger">Enter this years portal</button>
    </form>
</div>

